.container{
    width: 100vw;
    height: 100vh;
}
.arrayBarContainer{
    width: 80%;  
}
.arrayContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrayBar{
    display: inline-block;
    width: 1.3em;
    margin:1px;
    /* border-bottom-left-radius: 0.9rem; */
}
.button{
    display: block;
    margin:1rem 1rem;
    padding: 1rem 1rem ;    
}